$primary: #06899B;
$secondary: #1ac9e1;
$tertiary: #69e9fb;
$adminMenu: #0c5684;
$text: #ffffff;

.login {
	background-color: $primary;
	
	h1 {
		a {
			display: none;
		}
	}
	
	a {
		color: $primary;
		
		&:hover {
			color: $primary - #222222;
		}
	}
	
	input[type="text"]:focus, input[type="search"]:focus, input[type="radio"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input[type="password"]:focus, input[type="checkbox"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
		border-color: $primary;
		box-shadow: 0 0 2px rgba($primary, 0.4);
	}
	
	form {
		background: $secondary;
	}
	
	#login_error, .message {
		background: $secondary;
		border-left: 4px solid $tertiary;
	}
	
	#backtoblog a, #nav a {
		color: $secondary;
		
		&:hover {
			color: $secondary - #222222;
		}
	}
}

.wp-core-ui {
	.button-primary {
		background: $primary;
		border-color: $primary;
		box-shadow: 0 1px 0 $primary;
		text-shadow: none;
		
		&:hover, &:focus, &:active {
			background: $secondary;
			color: $primary;
			border-color: $primary;
			box-shadow: 0 1px 0 $primary;
		}
	}
}

.wp-admin {
	#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default #wp-admin-bar-wp-logo .ab-icon {
		background-image: url('assets/blumilk-b.png') !important;
		width: 30px;
		height: 30px;
		margin-right: 0;
		padding: 0;
		
		&:before {
			content: '';
		}
	}
}

#adminmenu {
	margin: 0;
}

.item-type {
	color: $text;
}

a {
	color: $primary + #222222;
	&:active,
	&:focus,
	&:hover {
		color: $primary;
	}
}

input {
	&[type=checkbox]:checked:before {
		color: $secondary;
	}
	
	&[type=radio]:checked:before {
		background: $secondary;
	}
	
	&[type=checkbox]:focus,
	&[type=color]:focus,
	&[type=date]:focus,
	&[type=datetime-local]:focus,
	&[type=datetime]:focus,
	&[type=email]:focus,
	&[type=month]:focus,
	&[type=number]:focus,
	&[type=password]:focus,
	&[type=radio]:focus,
	&[type=search]:focus,
	&[type=tel]:focus,
	&[type=text]:focus,
	&[type=time]:focus,
	&[type=url]:focus,
	&[type=week]:focus {
		border-color: $primary;
		box-shadow: 0 0 1px $primary;
	}
}

select:focus,
textarea:focus {
	border-color: $primary;
	box-shadow: 0 0 1px $primary;
}

.wp-core-ui {
	.button-primary {
		background-color: $primary - #222222 !important;
		border-color: $primary - #222222 !important;
		color: $text;
		box-shadow: 0 0 0 $primary - #222222 !important;
		display: inline-block;
		
		&:active,
		&:focus,
		&:hover {
			background-color: $primary !important;
			color: $text !important;
			border-color: $primary !important;
			box-shadow: 0 0 0 $primary !important;
		}
	}
	
	.button-secondary {
		background-color: $primary + #222222;
		border-color: $primary + #222222;
		color: $text;
		box-shadow: 0 0 0 $primary + #222222;
		display: inline-block;
		
		&:active,
		&:focus,
		&:hover {
			background-color: $primary;
			border-color: $primary;
			color: $text;
			box-shadow: 0 0 0 $primary;
		}
	}
}

#wpadminbar {
	background: $adminMenu;
	border-bottom: 2px solid $primary;
}

#adminmenu {
	div.wp-menu-image:before {
		color: #ece6f6;
	}
	
	a {
		color: $text;
		
		&:hover {
			color: $text - #222222;
		}
	}
	
	li {
		&.menu-top:hover,
		&.opensub > a.menu-top {
			color: $text;
			
			div.wp-menu-image:before {
				color: $text;
			}
		}
		
		> a.menu-top:focus {
			color: $text;
		}
	}
}

#wpcontent,
#wpfooter {
	padding-left: 55px;
}

#adminmenu {
	background: $adminMenu;
	width: 200px;
	
	.wp-submenu {
		background: $adminMenu;
		width: 200px;
	}
}

#adminmenuback,
#adminmenuwrap {
	background: $adminMenu;
	width: 200px;
}

#adminmenu {
	.wp-submenu {
		left: 200px;
		a {
			padding: 5px;
		}
	}
	.wp-submenu-head, a.menu-top {
		padding: 5px;
	}
	
	.wp-has-current-submenu .wp-submenu .wp-submenu-head {
		background: $primary;
	}
	
	.wp-menu-arrow {
		background: $primary;
		div {
			background: $primary;
		}
	}
	
	li {
		&.current a.menu-top,
		&.wp-has-current-submenu a.wp-has-current-submenu {
			background: $primary;
		}
	}
	
	div.wp-menu-image:before {
		color: $text;
		padding: 10px 0 0;
		display: inline-block;
	}
}

.folded #adminmenu li {
	&.current.menu-top,
	&.wp-has-current-submenu {
		background: $primary;
	}
}

#adminmenu {
	.wp-has-current-submenu {
		.wp-submenu {
			background-color: $adminMenu - #111111;
			
			&.sub-open {
				background-color: $adminMenu - #111111;
			}
		}
		
		&.opensub .wp-submenu {
			background-color: $adminMenu - #111111;
		}
	}
	
	a.wp-has-current-submenu:focus + .wp-submenu {
		background-color: $adminMenu - #111111;
	}
}

.no-js li.wp-has-current-submenu:hover .wp-submenu {
	background-color: $adminMenu - #111111;
}

#adminmenu li {
	&.menu-top:hover,
	&.opensub > a.menu-top,
	> a.menu-top:focus {
		background-color: $primary;
		color: $text;
	}
	
	&.menu-top {
		border-bottom: 1px solid $adminMenu - #222222;
		border-top: 1px solid $adminMenu - #111111;
		display: block;
	}
}

#collapse-menu {
	border-top: 1px solid $adminMenu - #111111;
}

#adminmenu {
	div.separator,
	li.wp-menu-separator {
		margin: 0;
		padding: 0;
		height: 0;
	}
}

#wpadminbar .quicklinks ul li a:hover {
	background: $adminMenu;
}

.postbox .hndle,
.stuffbox .hndle {
	background: $adminMenu - #111111;
	border-bottom: 2px solid $primary;
	color: #ddd;
}

.menu-item-bar .menu-item-handle {
	background: $adminMenu - #111111;
	color: #ddd;
	border-bottom: 0;
}

.widget-title h4 {
	background: $adminMenu - #111111;
	color: #ddd;
	border-bottom: 0;
	&:hover {
		color: $text;
	}
}

.widget-title-action {
	background: $primary + #222222;
	height: 46px;
}

.accordion-section-title:after,
.handlediv, .item-edit,
.sidebar-name-arrow,
.widget-action {
	color: #ddd;
}

.widget-top a.widget-action:focus::after {
	box-shadow: 0 0 $primary + #222222;
	border-color: $primary + #222222;
	color: $text;
}

.wrap {
	.nav-tab {
		background: $adminMenu;
		color: #ddd;
		padding: 8px 15px;
		font-weight: 400;
	}
	
	.nav-tab-active,
	.nav-tab:hover {
		background: $adminMenu - #111111;
		color: $text;
		font-weight: 700;
	}
}

#wpadminbar .ab-top-menu > li {
	&.hover > .ab-item,
	&.menupop.hover > .ab-item,
	&:hover > .ab-item,
	> .ab-item:focus {
		color: $text;
		background: $adminMenu;
	}
}

#wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item {
	color: $text;
	background: $adminMenu;
}

#wpadminbar {
	&.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
		color: $text;
		background: $adminMenu;
	}
	
	.menupop .ab-sub-wrapper {
		background: $adminMenu;
		border-bottom: 2px solid $primary;
		border-left: 2px solid $primary;
		border-right: 2px solid $primary;
	}
	
	.ab-submenu .ab-item {
		color: $primary + #222222;
	}
	
	.quicklinks .menupop {
		ul li a, &.hover ul li a {
			color: $primary + #222222;
		}
	}
}

#wpadminbar-nojs .quicklinks .menupop:hover ul li a {
	color: $primary + #222222;
}

#wpadminbar {
	.menupop .menupop > .ab-item:hover:before {
		color: $primary;
	}
	
	.quicklinks {
		.menupop {
			ul li a {
				&:focus,
				&:hover {
					color: $primary;
					
					strong {
						color: $primary;
					}
				}
			}
			
			&.hover ul li a {
				&:focus,
				&:hover {
					color: $primary;
				}
			}
		}
		
		li a:hover .blavatar {
			color: $primary;
		}
	}
	
	li {
		.ab-item:focus:before,
		a:focus .ab-icon:before {
			color: $primary;
		}
		
		&.hover {
			.ab-icon:before {
				color: $primary;
			}
			
			.ab-item {
				&:after,
				&:before {
					color: $primary;
				}
			}
		}
		
		&:hover {
			#adminbarsearch:before,
			.ab-icon:before {
				color: $primary;
			}
			
			.ab-item {
				&:after,
				&:before {
					color: $primary;
				}
			}
		}
	}
	
	&.nojs .quicklinks .menupop:hover ul li a {
		&:focus,
		&:hover {
			color: $primary;
		}
	}
	
	.quicklinks {
		.ab-sub-wrapper .menupop.hover > a {
			color: $primary;
		}
		
		.menupop {
			ul li a {
				&:focus,
				&:hover {
					color: $primary;
					
					strong {
						color: $primary;
					}
				}
			}
			
			&.hover ul li a {
				&:focus, &:hover {
					color: $primary;
				}
			}
		}
	}
	
	li {
		#adminbarsearch.adminbar-focused::before,
		.ab-item:focus::before,
		a:focus .ab-icon::before {
			color: $primary;
		}
		
		&.hover {
			.ab-icon::before,
			.ab-item::before {
				color: $primary;
			}
		}
		
		&:hover {
			#adminbarsearch::before,
			.ab-icon::before,
			.ab-item::before {
				color: $primary;
			}
		}
	}
	
	&.nojs .quicklinks .menupop:hover ul li a {
		&:focus, &:hover {
			color: $primary;
		}
	}
	
	&:not(.mobile) > #wp-toolbar {
		a:focus span.ab-label,
		li:hover span.ab-label {
			color: $primary;
		}
	}
	
	> #wp-toolbar li.hover span.ab-label,
	.ab-top-menu > li.hover > .ab-item,
	&.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
		color: $primary;
	}
	
	&:not(.mobile) .ab-top-menu > li {
		&:hover > .ab-item, > .ab-item:focus {
			color: $primary;
		}
	}
}

#adminmenu {
	.awaiting-mod,
	.update-plugins {
		background-color: $primary - #222222;
	}
}

#sidemenu li a span.update-plugins {
	background-color: $primary - #222222;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
	background: $adminMenu;
	
	.ab-submenu {
		background: $adminMenu;
	}
}

.wrap .add-new-h2:hover {
	background-color: $primary;
}

.filter-count .count,
.title-count {
	background: $primary - #222222;
}

#adminmenu {
	.wp-submenu a {
		&:focus,
		&:hover {
			color: $text;
		}
	}
	
	a:hover,
	li.menu-top > a:focus {
		color: $text;
	}
}

.wrap {
	.add-new-h2,
	.page-title-action {
		border-color: $primary;
	}
	
	.add-new-h2:hover,
	.page-title-action:hover {
		background: $primary;
		border-color: $primary;
	}
}

#collapse-menu:hover {
	color: $primary;
	
	#collapse-button div::after {
		color: $primary;
	}
}