input, textarea {
	background: $bgColour;
	color: $bodyText;
	font-family: $secondaryFont;
	font-size: 14px;
	border: 1px solid transparent;
	width: 100%;
	padding: $spacer / 1.5;
	margin-bottom: $spacer / 1.5;
	transition: ease 0.5s;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	&:-moz-placeholder {
		color: $primary;
	}
	
	&::-moz-placeholder {
		color: $primary;
	}
	
	&::-ms-placeholder {
		color: $primary;
	}
	
	&::-webkit-input-placeholder {
		color: $primary;
	}
	
	// Sizes
	&.size-s {
		padding: $spacer / 2;
	}
	
	&.size-m {
		padding: $spacer;
	}
	
	&.size-l {
		padding: $spacer * 1.5;
	}
	
	// Background colours
	&.primary {
		background: $primary;
		color: $secondary;
		border-color: $secondary;
		
		&:-moz-placeholder {
			color: $secondary;
		}
		
		&::-moz-placeholder {
			color: $secondary;
		}
		
		&::-ms-placeholder {
			color: $secondary;
		}
		
		&::-webkit-input-placeholder {
			color: $secondary;
		}
		
		&:hover, &:focus {
			background: $primary - #111111;
		}
	}
	
	&.secondary {
		background: $secondary;
		border-color: $primary;
		
		&:hover, &:focus {
			background: $secondary - #111111;
		}
	}
	
	&.tertiary {
		background: $tertiary;
		color: $secondary;
		border-color: $secondary;
		
		&:-moz-placeholder {
			color: $secondary;
		}
		
		&::-moz-placeholder {
			color: $secondary;
		}
		
		&::-ms-placeholder {
			color: $secondary;
		}
		
		&::-webkit-input-placeholder {
			color: $secondary;
		}
		
		&:hover, &:focus {
			background: $tertiary - #111111;
		}
	}
	
	&.text-primary {
		border-color: $primary;
	}
	
	&.text-secondary {
		border-color: $secondary;
	}
	
	&.text-tertiary {
		border-color: $tertiary;
	}
	
	// Border colours
	&.border-p {
		border-color: $primary;
	}
	
	&.border-s {
		border-color: $secondary;
	}
	
	&.border-t {
		border-color: $tertiary;
	}
}

input[type="submit"] {
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}