.slider-element {
    
}

.slide {
    position: relative;
}


.slide-content {
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: 12px;
    background-color: $blue-green ;
    padding: 20px;
    opacity: 0.6;
}

.slide-header {
    @include responsive-font(2vw, 14px, 30px);
    @include responsive-lineheight(3vw, 18px, 36px);
}