.cta {
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	margin-top: $spacer;
	padding: $spacer;
	
	// Sizes
	&.size-s {
		padding: $spacer / 2 $spacer;
	}
	
	&.size-m {
		padding: $spacer $spacer * 1.5;
	}
	
	&.size-l {
		padding: $spacer * 1.5 $spacer * 3;
	}
	
	&.size-xl {
		padding: $spacer * 3 $spacer * 3;
	}
	
	// Background colours
	&.primary {
		background-color: $primary;
		color: #ffffff;
		border-bottom: 3px solid $primary;
		
		&:hover, &:focus {
			background-color: $primary - #222222;
		}
	}
	
	&.secondary {
		background-color: $secondary;
		color: $primary;
		border-bottom: 3px solid $primary;
		
		&:hover, &:focus {
			background-color: $secondary - #111111;
		}
	}
	
	&.tertiary {
		background-color: $tertiary;
		color: $secondary;
		border-bottom: 3px solid $primary;
		
		&:hover, &:focus {
			background-color: $tertiary - #111111;
		}
	}
	
	&.white {
		background-color: #ffffff;
		color: $primary;
		border-bottom: 3px solid $primary - #333333;
		
		&:hover, &:focus {
			background-color: #ffffff - #111111;
		}
	}
	
	// Border colours
	&.border-p {
		border-color: $primary;
	}
	
	&.border-s {
		border-color: $secondary;
	}
	
	&.border-t {
		border-color: $tertiary;
	}
}