#nav-menu {
    z-index: 999;
    min-height: 70px;
    position:relative;
    width: 100%;
    background-color: $white;
    border-bottom: 2px solid $blue-dark;
}

#nav-menu-desktop {
    img {
        float: left;
        width: 300px;
    }

    li {
        float: left;
        padding: 10px;
        
        &.current_page_item {
            font-weight: bold;
        }

        &:hover {
            
            ul {
                display: block;
                
                li {
                    padding: 10px 0px 0px 0px;
                }
            }
        }

        a {
            color: $blue-dark;
            text-transform: uppercase;
            text-decoration: none;
        }
        
        ul {
            display: none;
        }
    }
}

#nav-menu-mobile {
    img {
        float: left;
        width: 200px;
    }
}


#nav-menu-mobile-content {
    display: none;
    
    ul {
        border-top: 2px solid $blue-dark;
    }
    
    li {
        float: left;
        padding: 10px;
        
        &.current_page_item {
            font-weight: bold;
        }

        &:hover {
            
            ul {
                display: block;
                
                li {
                    padding: 10px 0px 0px 0px;
                }
            }
        }

        a {
            color: $blue-dark;
            text-transform: uppercase;
            text-decoration: none;
        }
        
        ul {
            display: none;
        }
    }
}

.nav-menu-mobile-button {
    float: right;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 10px;
}

.sub-menu {
    background-color: red;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $blue-dark;
    margin: 6px 0px;
    transition: 0.1s;
}

.change .bar1 {
    -ms-transform: rotate(-45deg) translate(-9px, 6px); /* IE 9 */
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -ms-transform: rotate(45deg) translate(-8px, -8px); /* IE 9 */
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
