hr {
	background: $primary;
	margin: $spacer auto;
	border: none;
	height: 1px;
	
	// Colours
	&.secondary {
		background: $secondary;
	}
	
	&.tertiary {
		background: $tertiary;
	}
	
	// Sizes
	&.size-s {
		height: 2px;
	}
	
	&.size-m {
		height: 3px;
	}
	
	&.size-l {
		height: 4px;
	}
	
	&.size-xl {
		height: 5px;
	}
	
	&.width-s {
		width: 20%;
	}
	
	&.width-m {
		width: 50%;
	}
	
	&.width-l {
		width: 80%;
	}
}